#appContainer {
  display: flex;
  flex-direction: column;
}

#sidebar {
  width: 100%;
  background-color: #f1f1f1;
  border-right: 1px solid #0000003b;
}

#sidebarNoteList {
  padding: 0;
  width: 100%;
  overflow: auto;
  max-height: 11rem;
  margin: 4.5rem 0 0;
  background-color: #f1f1f1;
}

#sidebarButtonsContainer {
  z-index: 1;
  width: 100%;
  height: 4.5rem;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #0000003b;
  background-color: rgb(47, 46, 46);
}

#sidebarButtonsContainer button:disabled {
  opacity: 0.5;
  cursor: auto;
}

#sidebarButtonsContainer button {
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.sidebar-note {
  border: none;
  height: 4rem;
  display: flex;
  outline: none;
  max-width: 100%;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 1rem;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #f1f1f1;
}

.last-update {
  width: 100%;
  font-size: 0.8rem;
}

.sidebar-note:hover:not(.active) {
  color: #ffffff;
  background-color: #c5c4c4;
}

#noteBoxesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.new-note-box {
  width: 100%;
  height: 10vh;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #e5e2e2;
}

.active {
  color: #ffffff;
  background-color: #b3b2b2;
}

@media (min-width: 768px) {
  #appContainer {
    flex-direction: row;
  }

  #sidebarButtonsContainer {
    position: initial;
  }

  #sidebar {
    height: 100vh;
    max-width: 20rem;
  }

  #sidebarNoteList {
    margin-top: 0;
    max-height: calc(100% - 4.5rem);
  }

  #noteBoxesContainer {
    padding: 0 0.6rem;
    width: calc(100% - 20rem);
  }

  .new-note-box {
    flex: 30%;
  }

  #sidebarNoteList {
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  #sidebar {
    max-width: 20rem;
  }

  #noteBoxesContainer {
    padding: 0 1rem;
  }
}

@media (min-width: 1336px) {
  #noteBoxesContainer {
    padding: 0 2.5rem;
  }

  .new-note-box {
    flex: 25%;
  }
}
